<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="d-flex">

<!--Side Bar-->
  <div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">Gifs-App</h3>
  
  <hr class="text-light">
<div class="list-group list-reset">
  <a href="#" class="list-group-item list-group-item-action">
    Dashboard
  </a>
</div>

</div>
<!--End Side Bar-->


<div class="container">
  <div class="rwo p-3">
    <div class="col">
      <h5>Buscar :</h5>
      <input type="text" class="form-control" placeholder="Buscar gifs>">
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col">
      Duis nisi dui, laoreet a leo ut, sodales condimentum turpis. Nam congue dolor sit amet augue laoreet, eget efficitur diam accumsan. Mauris quis turpis ex. Donec pellentesque, libero sed vehicula tristique, turpis felis aliquam justo, eget finibus nibh turpis eu sapien. Integer efficitur enim vitae nulla porta, id feugiat risus finibus. Vivamus lorem neque, molestie sit amet sollicitudin vel, imperdiet vel urna. Nullam pretium purus urna, eget ornare ligula lacinia id. Nam ut arcu pellentesque, dignissim magna vel, ultrices sem. Nulla facilisi.
    </div>
  </div>
</div>
</div>